body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
          }
  
  .img-fluid {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/564x/99/ac/83/99ac83e0729cc66e7b2a218e54af158b.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightslategray;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  
  
  /* footer styling */
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    /* LinkedIn */
    .fa-linkedin {
      background: #339966;
      color: white;
    }
  /* Twitter */
  .fa-twitter {
      background:#b3ffb3;
      color: white;
    }
  /* Instagram */
    .fa-instagram {
      background: pink;
      color: white;
    }